:root {
  --heading-font: "Playfair Display SC", serif;
  --default-font: "Gantari", sans-serif;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 90px;
}
h2 {
  font-family: var(--default-font);
  font-weight: 600;
  font-size: 40px;
}
.hero {
  background-color: rgb(255, 246, 232);
  text-align: center;
  padding: 100px 25px 70px;
}

.hero h5 {
  opacity: 0.8;
  font-family: var(--default-font);
  font-weight: 600;
}
.hero a {
  font-family: var(--default-font);
  font-weight: 700;
}
.btn-contact-me {
  font-size: 25px;
  border: 1px solid black;
}
